.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# CUSTOM IGNORE FILES
src/app.css
src/app.d.ts
src/app.html
src/index.test.ts
src/test.config.ts