/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	font-family: 'Inter Variable', sans-serif;
	@apply h-full overflow-hidden;
}

* {
	scroll-behavior: smooth;
}
