/* Write your global styles here, in PostCSS syntax */
/* prettier-ignore */
@tailwind base;
/* prettier-ignore */
@tailwind components;
/* prettier-ignore */
@tailwind utilities;

:root {
	font-family: 'Inter Variable', sans-serif;
	--color-primary: #7209b7;
	--color-secondary: #8d62ef;
	--color-accent: #f72585;
	--color-surface: #ff8329;
	--color-daedalus-light: #ffffff;
	--color-daedalus-dark: #1d1d1f;
}

body {
	font-size: calc(15px + 0.45vw);
}

html.dark {
	color: white !important;
}
