---
import type { Props } from '../lib/types/page.type'
import BaseLayout from './BaseLayout.astro'

const { title , description} = Astro.props;
---
<BaseLayout title={title} description={description}>
  <nav>
      <a href="/">Home</a>
  </nav>
  <slot />
</BaseLayout>
